body {
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: red;
}

.bid-div{
    padding-bottom: 20px;
    color: red;
}

.comment-div{
    padding: 20px;
}

