{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
<form action="./edit" method="POST">
    {% csrf_token %}
    <div>
        Title: <br> 
        <input class="title" autocomplete="off" type="text" name="title" style="width:500px" value="{{ title_data }}">
    </div> <br> 
    <div> 
        Content: <br> 
        <textarea class="content" autocomplete="off" type="text" name="content" rows="20">{{ content_data }}</textarea>
    </div>
    <div> 
        <br><input type="submit" class="submit">
    </div>
    
</form>

{% endblock %}